.selectorContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.selectorContainer div {
    padding: 5px;
    margin: 1px;
    border: 1px solid black;
}
.selectorContainer div:hover {
    background-color: dimgray;
    cursor: pointer;
}
h5 {
    margin-top: 20px;
}