.recommendationsContainer {
    height: 100%;
    margin-bottom: 15px;
}
.recommendationsContainer h2 {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 2rem;
}
.productList {
    margin-left: 5px;
}
.tbar2 {
    width: 71%;
    margin-top: 8px;
    height: 5px;
    background-color:rgb(0, 0, 0); ;
}