.recommendationsContainer {
    height: 100%;
    margin-bottom: 15px;
}
.recommendationsContainer h2 {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 2rem;
}
.productList {
    margin-left: 5px;
}