.picContainer {
    width: 40%;
}
.picContainer img {
    min-height: 200px;
    min-width: 200px;
    max-width: 370px;
    max-height: 370px;
    border: 2px solid white;
    border-radius: 2.5%;
    margin: 8%;
}