.newProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-top: 25px solid rgb(124, 124, 124); */
}
.newProdImg {
    height: 85%;
    width: 85%;
    cursor: pointer;
    border: 10px solid black;
    
}
.categoryContainer {
    height: 420px;
}
.categoryContainer p {
    position: relative;
    bottom: 66%;
    left: 25%;
    font-size: 3em;
    color: rgb(255, 254, 254);
    -webkit-text-stroke-color: rgb(70, 70, 70);
    max-width: 50%;
    text-shadow: 6px 6px 6px #000000;
    cursor: pointer;

}

